.left-sidebar {
  width: 200px;
  background-color: #111111;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  overflow-y: auto;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.left-sidebar li {
  color: aliceblue;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.left-sidebar li:hover,
.left-sidebar li.active {
  background-color: #ffffff;
  font-weight: bold;
  color: #000;
}

.left-sidebar li.active {
  background-color: #ffffff;
  font-weight: bold;
}