/* Estilo general del li */
.hover-item {
  position: relative;
  cursor: pointer;
}
.imagen-flotante {
  position: fixed;
  bottom: 65%;
  right: 70px;
  height: 200px;
  display: none;
  z-index: 1000;
}
.hover-item:hover .imagen-flotante {
  display: block;
}
.imagen-flotante img {
  margin-left: 1rem;
  padding: 10px;
  background-color: white;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}
.texto-overlay {
  position: absolute;
  bottom: 10px;
  right: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(214, 28, 28);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}
  