.expandable-section {
  border: 2px solid var(--color-01);
  margin-bottom: 10px;
  transition: all 0.4s ease;
  border-radius: 8px;

}

.section-header {
  padding: 2px 20px 2px 20px;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-03);
  border-radius: 8px;
  background-color: var(--color-08);
}

.section-header:hover {
  color: var(--color-08);
  background-color: var(--color-09);
}

.section-content {
  padding: 16px;
  background-color: var(--color-08);
  color: var(--color-01);
  font-weight: 500;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  animation: fadeIn 0.4s ease;
  white-space: pre-line;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}