.select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    max-width: 600px;
}
.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 5px;
    padding: 0px;
}
.input-container input {
    height: 1rem;
    width: 4rem;
}
.inputs-group label {
    padding: 5px;
}
.calculate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 600px;
}
.calculate-container span {
    cursor: "pointer";
    color: "blue" 
}

.eq-renderer {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px;
  }
.equation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: '3rem';
    max-width: 600px;
}

