.app-layout {
    display: flex;
    flex-direction: column;
    height: 96vh;
    background-color: rgb(180, 180, 180);
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
  }
  
  .main-area {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: None;
  }